{% extends 'users/base_auth.html' %}

{% block content %}

{% if validlink %}

    <h1>Set a new password</h1>
    <form method="POST">
      {% csrf_token %}
      {% include 'users/form_base/input_base.html' with field=form.new_password1 %}
      {% include 'users/form_base/input_base.html' with field=form.new_password2 %}
      <button class="btn btn-success" type="submit">Change Password</button>
    </form>

{% else %}

<p>The password reset link is invalid. Request the new one</p>

{% endif %}
{% endblock %}